body {
    font-family : Arial; 
    margin: 0;
}
#NavBar {
    margin: 5px 20px;
}
#navlink { 
    float: right;
    margin-top: -35px;
}
#navlink a { color: black; padding:0 30px;  }
h1 { width: 200px; font-size: 20px;}
h1 a { color: #4FAA92!important; }
h1 a, #navlink a { text-decoration: none; }
#container {
    padding-top: 30px;
    height : 100vh;
    width : 100 vw;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#header {
    text-align: center;
    color: white;
}
.fondBlock {
    background-color: white;
    border-radius: 5%;
    width: 350px;
    padding: 30px;
    text-align: center;
}
#recherche {
    display: flex;
    justify-content: space-around;
    margin: 40px 60px;
}
#ligneverte {
    border-bottom: 1px solid #4FAA92;
    padding-bottom: 40px;;
}
#containerSearch {
    display: flex;
    flex-direction: column;
}
#buttonSearch, input {
    width:90%;
    padding: 5%;
    border: none;
    border-radius: 5px;
}
.buttonGreen {
    background-color: #4FAA92;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
#buttonSearch {
    width:100%;
    margin-top: 50px;
}
input {
    background-color: #eee;
}
#departure {
    border-bottom: 1px solid #ccc;
}
.colorvert {
    color: #4FAA92;
}
.listeSearch {
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#resultSearch {
}
#blockSearch {
    overflow: scroll;
    max-height: 300px;
}


/* Page CART */
#containerCart, #containerBooking {
    height: 100vh;
    width: 100vw;
    background-color: #eee;
    display: grid;
}
#resultCart, #resultBooking {
    background-color: white; text-align: center;
    text-align: center;
    width: 50%;
    margin: auto;
}

/* Page BOOKINGS */